{{ define "main" }}
<article class="post">
  <h1>{{ .Title }}</h1>
  {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>{{ end }}
  {{ if .Params.show_lastmod }}<time datetime="{{ .Lastmod.Format "2006-01-02" }}">Last updated {{ .Lastmod.Format "Jan 2, 2006" }}</time>{{ end }}
  {{ with .Params.tags }}
  <ul class="post-tags">
    {{ range . }}<li>{{ . }}</li>{{ end }}
  </ul>
  {{ end }}
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
