---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="w-full h-dvh flex flex-col gap-4 items-center justify-center">
    <img src="/favicon.svg" alt="Favicon" class="size-8 rounded-full" />
    <span class="font-serif">Coming soon</span>
  </div>
</BaseLayout>
