---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1 class="font-serif"><a href="/" class="no-underline">Alisher Yeginbay</a></h1>
    <p>I'm a software engineer.</p>
    <p>
        You can find me on

        <a href="https://x.com/alisheryeginbay" target="_blank">Twitter</a>
        and
        <a href="https://github.com/alisheryeginbay" target="_blank">GitHub</a>.
    </p>
    <!-- <p>I also sometimes <a href="/blog">blog</a>.</p> -->
    <p>Feel free to contact me at alisher at yeginbay dot com.</p>
</BaseLayout>
