---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-screen-sm px-4 mx-auto w-full py-16 flex flex-col">
    <h1>Alisher Yeginbay</h1>
    <p>While there's life, there's hope.</p>

    <pre
      aria-label="cute bunny ascii"
      style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; line-height: 1.2; margin-top: 0.75rem;">
(\_/)
( •_•)
/ > 🥕
    </pre>
  </div>
</BaseLayout>
