---
import { Font } from "astro:assets";
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
    titleSuffix?: boolean;
}

const { title, description, titleSuffix = true } = Astro.props;
const pageTitle = title ? (titleSuffix ? `${title} | Alisher Yeginbay` : title) : "Alisher Yeginbay";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/x-icon"
            href="/favicon.ico"
            sizes="48x48"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="apple-touch-icon"
            type="image/png"
            href="/apple-touch-icon.png"
            sizes="180x180"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        <title>{pageTitle}</title>

        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-spectral" preload />
    </head>
    <body>
        <div class="max-w-screen-sm px-4 mx-auto w-full py-16 flex flex-col">
            <slot />
        </div>
    </body>
</html>
